<ion-content>
<ion-slides pager="true" [options]=""slideOpt>


<ion-slide>
  <ion-icon name="close"></ion-icon>
<h1>Biblioteca Nacional</h1>
<h2>Subtitulo</h2>
<img src="https://www.telesurtv.net/__export/1619168715048/sites/telesur/img/2021/04/23/libros_editada.jpg" alt=""> 
<p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
</p>
</ion-slide>
<ion-slide>
  <ion-icon name="close"></ion-icon>
<h1>Titulo</h1>
<h2>Subtitulo</h2>
<img src="https://s1.eestatic.com/2020/05/18/como/gatos-mascotas-trucos_490961518_152142875_1706x960.jpg" alt="">
</ion-slide>

<ion-slide>
  <ion-icon name="close"></ion-icon>
<h1>Titulo</h1>
<h2>Subtitulo</h2>
<img src="https://s1.eestatic.com/2020/05/18/como/gatos-mascotas-trucos_490961518_152142875_1706x960.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>
